/node_modules
/src/server/node_modules
/src/server/.env
/src/server/package.json
/src/server/package-lock.json
# /public
/package.json
/package-lock.json
/.DS_Store
/src/.DS_Store
/src/server/.DS_Store

!/App.js
/App.js
/App.js:*.apikey1