.carouselMain {
    .swiper {
        height: 20rem;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        background: no-repeat centre centre;

        img {
            width: 70%;
        }
    }
}