.carouselMain {
    .swiper {
        @media screen and (min-width: $media-desktop) {
            /* height: 22rem; */
        }
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        background: no-repeat centre centre;
        border-radius: 1rem;
        img {
            width: 90%;

            @media screen and (min-width: $media-desktop) {
                width: 70%;
                height: 100%;
            }
        }
    }
}