.dropdown {
    display: flex;
    justify-content: space-between;
    border: 2px $gray solid;
    border-radius: $radius;
    padding: $largePadding;
    width: 10%;
    margin-bottom: $smallMargin;
}

.filter {
    width: 30%;
    padding: $smallPadding;
    border-radius: $radius;
    background: $accentSand;
    z-index: 99;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, .25);
}

.closeBtn_cont {
    display: flex;
    align-items: center;
}

.filter_cont {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}

label {
    padding-left: 0.75rem;
}

// .dropdownIcon {
//     align-self: right;
// }

.filter_cont_all_buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: $largeMargin 0;

    .resetFilterSelection,
    .renderFilterSelection {
        margin: $smallMargin;
        width: 100px;
    }

    .resetFilterSelection {
        background: $white;
        border: 1px solid $primary;
        color: $primary;
    }

    .renderFilterSelection {
        background: $primary;
        border: 1px solid $primary;
        color: $white;
    }

}

/* ********************************************************************
****************************** Breed **********************************
******************************************************************** */

.filter_cont_breed {
    text-align: left;
    border: 2px solid $gray;
    position: relative;
    border-radius: $radius;
    padding: $smallPadding;
    margin: 0.5rem;
    background: $white;
    // display: flex;
}

.filter_cont_breed_dropdown {
    padding: $smallPadding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.filter_cont_breed_dropdown_options {
    position: absolute;
    transform: translateY(105px);
    width: -webkit-fill-available;
    // border-radius: 15px;
    overflow: auto;
    max-height: 150px;
    background-color: #fff;
    padding: $smallPadding;
    z-index: 99;
}

.filter_cont_breed_dropdown_selector {
    display: flex;
    align-items: center;
}

.filter_cont_breed_selector_selection {
    color: $gray;
}

.filter_cont_breed_dropdown_options_singleOption {
    padding: 5px;
    cursor: pointer;
}

.filter_cont_breed_dropdown_options_singleOption:hover {
    background: $twoSec;
}

.filter_cont_breed_dropdown_search {
    padding: $smallPadding;

    input {
        border-radius: $radius;
        border: 1px solid $gray;
        width: 90%;
        padding: $smallPadding;
        height: 30px;
    }

    // height: 1rem;

}

/* ********************************************************************
****************************** Gender *********************************
******************************************************************** */

.filter_cont_gender {
    text-align: left;
    position: relative;
    border-radius: 15px;
    padding: 5px;
    margin: 0.5rem;
    display: flex;

    input {
        width: 15px;
    }

    label {
        padding-right: $largePadding;
    }
}

#stallion,
#mare {
    accent-color: $primary;
}

/* ********************************************************************
****************************** Color **********************************
******************************************************************** */

.filter_cont_color {
    text-align: left;
    border: 2px solid $gray;
    position: relative;
    border-radius: $radius;
    padding: $smallPadding;
    margin: 0.5rem;
    background: $white;
    // display: flex;
}

.filter_cont_color_dropdown {
    padding: $smallPadding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.filter_cont_color_dropdown_options {
    position: absolute;
    transform: translateY(105px);
    width: -webkit-fill-available;
    // border-radius: 15px;
    overflow: auto;
    max-height: 150px;
    background-color: #fff;
    padding: $smallPadding;
    z-index: 99;
}

.filter_cont_color_dropdown_selector {
    display: flex;
    align-items: center;
}

.filter_cont_color_selector_selection {
    color: $gray;
}

.filter_cont_color_dropdown_options_singleOption {
    padding: 5px;
    cursor: pointer;
}

.filter_cont_color_dropdown_options_singleOption:hover {
    background: $twoSec;
}

.filter_cont_color_dropdown_search {
    padding: $smallPadding;

    input {
        border-radius: $radius;
        border: 1px solid $gray;
        width: 90%;
        padding: $smallPadding;
        height: 30px;
    }

    // height: 1rem;

}

/* ********************************************************************
****************************** Method *********************************
******************************************************************** */

.filter_cont_breedingMethod {
    text-align: left;
    position: relative;
    border-radius: 15px;
    padding: 5px;
    margin: 0.5rem;
    display: flex;

    input {
        width: 15px;
    }

    label {
        padding-right: $largePadding;
    }
}

#natural,
#artificial {
    accent-color: $primary;
}

/* ********************************************************************
**************************** Discipline *******************************
******************************************************************** */

.filter_cont_discipline {
    text-align: left;
    border: 2px solid $gray;
    position: relative;
    border-radius: $radius;
    padding: $smallPadding;
    margin: 0.5rem;
    background: $white;
    // display: flex;
}

.filter_cont_discipline_dropdown {
    padding: $smallPadding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.filter_cont_discipline_dropdown_options {
    position: absolute;
    transform: translateY(105px);
    width: -webkit-fill-available;
    // border-radius: 15px;
    overflow: auto;
    max-height: 150px;
    background-color: #fff;
    padding: $smallPadding;
    z-index: 99;
}

.filter_cont_discipline_dropdown_selector {
    display: flex;
    align-items: center;
}

.filter_cont_discipline_selector_selection {
    color: $gray;
}

.filter_cont_discipline_dropdown_options_singleOption {
    padding: 5px;
    cursor: pointer;
}

.filter_cont_discipline_dropdown_options_singleOption:hover {
    background: $twoSec;
}

.filter_cont_discipline_dropdown_search {
    padding: $smallPadding;

    input {
        border-radius: $radius;
        border: 1px solid $gray;
        width: 90%;
        padding: $smallPadding;
        height: 30px;
    }

    // height: 1rem;

}

.filter_cont_discipline_multiSelection_singleOption {
    background: $white;
    border: 1px solid $primary;
    padding: $smallPadding;
    border-radius: $radius;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $smallMargin;
}

/* ********************************************************************
****************************** Height **********************************
******************************************************************** */
.filter_cont_height {
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0.75rem;

    input {
        width: 40%;
        border-radius: $radius;
        border: 2px solid $gray;
        padding-left: $smallPadding;
        outline-color: $sevenPrim; // Change with the color desired
    }
}

/* ********************************************************************
****************************** Age ************************************
******************************************************************** */
.filter_cont_age {
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0.75rem;

    input {
        width: 40%;
        border-radius: $radius;
        border: 2px solid $gray;
        padding-left: $smallPadding;
        outline-color: $sevenPrim; // Change with the color desired
    }
}

/* ********************************************************************
****************************** Price **********************************
******************************************************************** */
.filter_cont_price {
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0.75rem;

    input {
        width: 40%;
        border-radius: $radius;
        border: 2px solid $gray;
        padding-left: $smallPadding;
        outline-color: $sevenPrim; // Change with the color desired
    }
}