/* * {
    background: blue;
} */

// .footer_cont {
//     // margin: 2rem;
//     // padding: 0 10rem;
// }

.footer_cont p {
    margin: 0;
}

.footer_cont div {
    background-color: white;
}

.footer_cont_mainContent {
    padding: 0 3rem;
}

.footer_cont_img {
    border-bottom: solid $threePrim 3px;
    border-radius: 2px;
    padding-left: 3rem;
}

.footer_cont_img img {
    // background: transparent;
}

.footer_cont_logoFooter,
.footer_cont_rights,
.footer_cont_email,
.footer_cont_jupiter,
.footer_cont_documentation,
.footer_cont_aboutUs {
    padding: 0.5rem 0;
    // background: white;
}


.footer_cont_logoFooter,
.footer_cont_rights,
.footer_cont_email,
.footer_cont_jupiter,
.footer_cont_documentation,
.footer_cont_aboutUs {
    width: 50%;
    float: left;
}

.footer_cont_rights,
.footer_cont_jupiter,
.footer_cont_documentation {
    text-align: end;
}

.footer_cont_logoFooter:hover,
.footer_cont_rights:hover,
.footer_cont_email:hover,
.footer_cont_jupiter:hover,
.footer_cont_documentation:hover,
.footer_cont_aboutUs:hover {
    background: $threePrim;
}

/* a,
img,
p {
    background: white;
} */

.footer_cont_email a {
    text-decoration: none;
    color: black;
}

.footer_cont_documentation p,
.footer_cont_aboutUs p {
    cursor: pointer;
}