.horseCard {
    display: flex;
    background: $cards;
    border-radius: $radius;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.12);
    height: 20.5rem;
    justify-content: flex-start;
    margin: 0 .5rem 1rem;

    h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }

    h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .horseCard_cont_details_description {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
    }
}

.horseCard_cont {
    max-width: 30rem;
    min-width: 20rem;
}

.horseCard_cont_images {
    text-align: center;

}

.horseCard_cont_images img {
    width: 20rem;
    height: 10rem;
    margin: 0 2rem;
    border-radius: 0 0 $radius $radius;
}

.horseCard_cont_images_favorite {
    background: $accentBeige;
    float: right;
    width: 2rem;
    height: 3rem;
    border-radius: 0 0 10px 10px;
    transform: translate(-1.89rem, -10.2rem);

    img {
        width: 1rem;
        border-radius: 0;
        padding-top: $largePadding;
        margin: 0;
        transform: translateY(-4.5rem);
        cursor: pointer;
    }
}

.horseCard_cont_details {
    padding: $largePadding;
    display: flex;
    flex-direction: column;
}

.horseCard_cont_details_btn_master {
    position: relative;

    #horseCard_cont_details_btn {
        margin: 0.25rem;
        border-radius: $radius;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        border: 1px solid $secondary;
        filter: drop-shadow(0px 2px 2px rgba(153, 153, 153, 0.14)) drop-shadow(0px 2px 2px rgba(153, 153, 153, 0.14)) drop-shadow(0px 2px 2px rgba(153, 153, 153, 0.14));
        width: fit-content;
        align-items: flex-end;
        position: absolute;
        // bottom: -5.75rem;
        cursor: pointer;

        img {
            width: 1rem;
            padding-left: $largePadding;
        }
    }
}




#favIcon {
    display: block;
}

#unFavIcon {
    display: none;
}