.navBar {
    background-color: $white;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25), 0px 4px 35px rgba(0, 0, 0, 0.25);
    margin: 0;
    z-index: 99;
}

.navBar_cont {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

    label {
        padding: 0.25rem 0;
        font-weight: 400;
        font-size: 8px;
        line-height: 9px;
    }
}

.navBar_cont_home,
.navBar_cont_profile,
.navBar_cont_myHorses,
.navBar_cont_favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    img {
        width: 1.25rem;
        text-align: center;
    }
}

.navBar_cont_home:focus {
    transform: translateX(50px);
    background-color: white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    border: 3px white solid;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}

.navBar_cont_profile:focus {
    transform: translateX(50px);
    background-color: white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    border: 3px white solid;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: $media-desktop) {
    .navBar {
        // background-color: $white;
        position: fixed;
        height: 100%;
        width: 8%;
        // box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25), 0px 4px 35px rgba(0, 0, 0, 0.25);
        margin: 0;
    }

    .navBar_cont {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;

        label {
            padding: 0.25rem 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }

        img {
            width: 2rem;
        }
    }
}