.horseDetail {
    margin: 200px;
    background-color: lightgrey;
}

.horseDetail_cont_information_heading_title {
    display: flex;
    flex-direction: row;
}

.horseDetail_cont_information_heading_location {
    display: flex;
    flex-direction: row;
}

.horseDetail_cont_information_body {
    display: flex;
    flex-direction: row;
}

.horseDetail_cont_one {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.horseDetail_cont_information_body_lineOne_height {
    margin-right: 30px;
}

.horseDetail_cont_information_body_lineTwo_color {
    margin-right: 40px;
}

.horseDetail_cont_three {
    display: flex;
    flex-direction: row;
}

.horseDetail_cont {
    display: flex;
    flex-direction: column;
}


.horseDetail_cont_information_body {
    display: flex;
    flex-direction: row;
}

.horseDetail_cont_one {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.horseDetail_cont_information_body_lineOne_height {
    margin-right: 30px;
}

.horseDetail_cont_information_body_lineTwo_color {
    margin-right: 40px;
}

.horseDetail_cont_three {
    display: flex;
    flex-direction: row;
}

.horseDetail_cont {
    display: flex;
    flex-direction: column;
}

// .nothing {
//     width: 30%;
// }

// Thumbnail
.addHorse_cont_basics_upload_thumbnail_content {
    border: 1px solid red;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    p {
        padding: 30px;
    }
}