.addHorse_master {

    h4 {
        color: #5A5A5F;
        margin-bottom: 0.3125rem;
    }

    h3 {
        margin-top: 1.25rem;
        position: relative;
        color: #5A5A5F;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.25rem;
    }

    h3::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -0.625rem;
        left: 0;
        width: 100%;
        height: 0.125rem;
        background-color: #5A5A5F;
    }


    input::placeholder {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 150%;
    }

    textarea::placeholder {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 150%;
    }

}

#thumb,
#thumbforphotos,
#thumbfordocuments {
    display: none;
}

.addHorse {
    label {
        color: #5A5A5F;
        margin-bottom: 0.3125rem;
        display: block;
        width: 100%;
        margin-top: 1.25rem;
        padding-left: 0rem;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 150%;
    }

    font-size: 1rem;
    padding: 2rem 0rem 5rem 0rem;
    background: transparent;

    @media only screen and (min-width: 1024px) {
        padding: 4rem 4rem 10rem 15rem;
        background: transparent;
    }



    .addHorse_cont_aboutOwner_location {
        width: 100%;

        #ownerLocation {
            font-size: 1.2rem;
            font-family: "Roboto";
            padding-left: 0rem;
            padding-right: 1rem;

            color: #5A5A5F;

            @media only screen and (min-width: 1024px) {
                padding-left: 1rem;
            }
        }
    }

    .addHorse_cont_aboutOwner_location_error {
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
    }

    .requiredFields_error {
        color: #C9431A;
        padding-top: 0.3rem;
    }
}

.addHorse_cont {
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.625rem;

    @media only screen and (min-width: 1024px) {

        // margin: 1.875rem 12.5rem 50rem 250rem;
        padding-left: 12.5rem;
        padding-right: 12.5rem;
        padding-top: 3.125rem;
        padding-bottom: 0.625rem;
    }
}

.addHorse_cont_backButton {
    display: flex;
    position: relative;
    // left: -71%;
    // right: 76.57%;
    // top: 42%;
    // bottom: 90.29%;
    padding-left: 2rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 150%;
    color: #5A5A5F;
    transform: translateX(-11.25rem);
}

//add horse title
.addHorse>h2 {
    // font-size: 1.5em;
    // font-weight: 600;
    // margin: 0;
    // margin-left: -10rem;
    // padding-left: 300rem;
    // padding-right: 12.5rem;
    // padding-top: 100rem;

    padding-left: 1rem;
    font-family: 'Asap', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 150%;
    color: #5A5A5F;

    @media only screen and (min-width: 1024px) {
        font-family: 'Asap', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 150%;
        color: #5A5A5F;
    }

}

// * error signal
[class$='_error'] {
    color: #C9431A;
}

#gender {
    height: 3rem;
    width: 11.5rem;
    border-radius: 0.9375rem;
    border: 0.125rem solid #B6B6BB;
    box-sizing: border-box;

    option {
        font-size: 1rem;
    }
}

.addHorse_cont_basics_details_gender>#gender {
    font-family: "Roboto";
    font-size: 1.2em;
    padding-left: 1.2rem;
    color: #5A5A5F;
}



#age {
    height: 3rem;
    width: 11.5rem;
    border-radius: 0.9375rem;
    border: 0.125rem solid #B6B6BB;
    box-sizing: border-box;
}

#height {
    height: 3rem;
    width: 11.5rem;
    border-radius: 0.9375rem;
    border: 0.125rem solid #B6B6BB;
    box-sizing: border-box;
}

#price {
    height: 3rem;
    width: 11.5rem;
    border-radius: 0.9375rem;
    border: 0.125rem solid #B6B6BB;
    box-sizing: border-box;
}

#breedingMethod {
    height: 3rem;
    width: 11.5rem;
    border-radius: 0.9375rem;
    border: 0.125rem solid #B6B6BB;
    box-sizing: border-box;
}

.addHorse_cont_basics_details_breedingMethod>#breedingMethod {
    font-family: "Roboto";
    font-size: 1.1em;
    padding-left: 1rem;
    color: #5A5A5F;

    option {
        font-size: 1rem;
    }
}

// Color
.addHorse_cont_basics_details_color_cont {
    width: 11.5rem;
    margin: 0rem;
    box-sizing: border-box;

    .filter_cont_color_label {
        padding-left: 0rem;
    }

    .filter_cont_color {
        width: 11.5rem;
        margin: 0rem;
        box-sizing: border-box;
        border: 0.125rem solid #B6B6BB;
        padding: 0.5625rem;
    }

    .filter_cont_color_selector_selection {
        font-family: "Roboto";
        font-size: 1.2em;
        padding-left: 0.5rem;
        color: #5A5A5F;
    }
}

// Breed
.addHorse_cont_basics_details_breed_cont {
    width: 11.5rem;
    margin: 0rem;
    box-sizing: border-box;

    .filter_cont_breed {
        border: 0.125rem solid #B6B6BB;
        padding: 0.5625rem;
    }

    .filter_cont_breed_selector_selection {
        font-family: "Roboto";
        font-size: 1.2em;
        padding-left: 0.5rem;
        color: #5A5A5F;
    }

}


.addHorse_cont_basics {
    margin-top: 1rem;
}

.addHorse_cont_basics_details_firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addHorse_cont_basics_details_secondRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addHorse_cont_basics_details_secondRow {
    display: flex;
    flex-direction: row;
}

#horseName {
    background: #FFFFFF;
    border: 0.125rem solid #B6B6BB;
    border-radius: 0.9375rem;
    width: 100%;
    padding: 0.9375rem;
    box-sizing: border-box;
}

.addHorse_cont_basics_details_name {
    margin-top: 4rem;
}


// .nothing {
//     width: 30%;
// }

// Thumbnail
.addHorse_cont_basics_upload_thumbnail_content {
    border: 0.125rem solid #B6B6BB;
    border-radius: 0.9375rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;


    p {
        padding: 1.25rem;
        margin-bottom: 0.125rem;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 150%;
        color: #5A5A5F;
        height: 9.625rem;
    }

    .addHorse_cont_basics_upload_thumbnail_addImg_icon {
        cursor: pointer;
    }
}

.addHorse_cont_basics_upload_thumbnail_input {
    display: none;
    visibility: none;
}

// Media
.addHorse_cont_basics_upload_media_content {
    border: 0.125rem solid #B6B6BB;
    border-radius: 0.9375rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    p {
        padding: 1.25rem;
        margin-bottom: 0.125rem;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 150%;
        color: #5A5A5F;
        height: 9.625rem;
    }
}

// Documentation
.addHorse_cont_detailed_documentation_content {
    border: 0.125rem solid #B6B6BB;
    border-radius: 0.9375rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;

    p {
        padding: 1.25rem;
        margin-bottom: 0.125rem;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 150%;
        color: #5A5A5F;
        height: 9.625rem;
    }
}

// Description
#description {
    overflow-x: hidden;
    border: 0.125rem solid #B6B6BB;
    border-radius: 0.9375rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 9.625rem;

    p {
        padding: 1.25rem;
        margin-bottom: 0.125rem;
        height: 9.625rem;

    }
}

.addHorse_cont_detailed_documentation {
    background: #FFFFFF;
    // border: 0.0625rem solid #B6B6BB;
    border-radius: 0.9375rem;
    width: 100%;
    margin: 0rem;
}

// Contact preferences
#ownerEmail {}

#ownerCall {}

#ownerText {}

.addHorse_cont_aboutOwner_contactPreferences_label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.addHorse_cont_aboutOwner_contactPreferences {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.9375rem;
    flex-wrap: wrap;

    label {
        margin: 0rem;
    }

    .addHorse_cont_aboutOwner_contactPreferences_label {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.25rem;
        color: #5A5A5F;
        accent-color: #33562B;
    }
}

// Location

#ownerLocation {
    background: #FFFFFF;
    border: 0.125rem solid #B6B6BB;
    border-radius: 0.9375rem;
    width: 100%;
    height: 3rem;

    @media only screen and (min-width: 1024px) {

        padding-left: 0.3125rem;
    }
}

// Display horse
.addHorse_cont_aboutOwner_displayHorse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

// End Buttons
.endButtons {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1.25rem;

    img {
        cursor: pointer;
    }
}

// .footer_cont {
//     margin-left: 90rem;
// }

input::placeholder,
textarea::placeholder {
    color: #5A5A5F;
    margin-bottom: 0.3125rem;
    display: block;
    width: 100%;
    padding-top: 0.9375rem;
    padding-left: 1.25rem;
    font-family: "Roboto";
    font-size: 1.2em;
}





//toggle button
$toggle-background-color-on: dodgerblue;
$toggle-background-color-off: darkgray;
$toggle-control-color: white;
$toggle-width: 100rem;
$toggle-height: 50rem;
$toggle-gutter: 0.3125rem;
$toggle-radius: 50%;
$toggle-control-speed: .15s;
$toggle-control-ease: ease-in;

// These are our computed variables
// change at your own risk.
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);

.toggle-control {
    display: flex;
    position: relative;
    padding-left: $toggle-width;
    margin-bottom: 10.125rem;
    cursor: pointer;
    font-size: 0.125rem;
    user-select: none;

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    input:checked~.control {
        background-color: $toggle-background-color-on;

        &:after {
            left: $toggle-width - $toggle-control-size - $toggle-gutter;
        }
    }

    .control {
        position: absolute;
        top: 0;
        left: 0;
        height: $toggle-height;
        width: $toggle-width;
        border-radius: $toggle-radius;
        background-color: $toggle-background-color-off;
        transition: background-color $toggle-control-speed $toggle-control-ease;

        &:after {
            content: "";
            position: absolute;
            left: $toggle-gutter;
            top: $toggle-gutter;
            width: $toggle-control-size;
            height: $toggle-control-size;
            border-radius: $toggle-radius;
            background: $toggle-control-color;
            transition: left $toggle-control-speed $toggle-control-ease;
        }
    }
}

.addHorse_cont_detailed_discipline_content {
    width: 100%;

    .filter_cont_discipline {
        border: 0.125rem solid #B6B6BB;
        padding: 0.5625rem;
        font-family: "Roboto";
        font-size: 1.2em;
        padding-left: 1rem;
        color: #5A5A5F;
    }
}

.addHorse_cont_aboutOwner p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #5A5A5F;
}

.btn_cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.popUp_btn_horseSaved,
.popUp_btn_cancel {
    margin: 0.9375rem;
    background-color: white;
    color: black;
    border-radius: 0.9375rem;
    padding: 0.3125rem 0.9375rem;
    width: fit-content;
    border: 0.0625rem solid black;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.popUp_btn_leave {
    margin: 0.9375rem;
    background: #C9431A;
    color: #F9D7CD;
    border-radius: 0.9375rem;
    padding: 0.3125rem 0.9375rem;
    width: fit-content;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
}