.addHorse_master {

    h4 {
        color: #5A5A5F;
        margin-bottom: 0.3125rem;
    }

    h3 {
        margin-top: 1.25rem;
        position: relative;
        color: #5A5A5F;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.04em;

        @media screen and (min-width: 1024px) {
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
        }
    }

    h3::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -0.625rem;
        left: 0;
        width: 100%;
        height: 0.125rem;
        background-color: #5A5A5F;
    }


    input::placeholder {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 150%;

    }

    textarea::placeholder {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 150%;

    }

    .addHorse_cont_detailed_discipline_content .filter_cont_discipline_selector_selection {
        font-weight: 400;
        font-size: 16px;

        @media screen and (min-width: 1024px) {
            font-size: 20px;
        }
    }

}

#thumb,
#thumbforphotos,
#thumbfordocuments {
    display: none;
}

#thumbBox {
    position: relative;
}

#thumbBox > img {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 10px;
}

// there is something stopping me from configuring these ids on user agent stylesheet input[type="checkbox" i] {}
.addHorse_cont_aboutOwner_displayHorse {
    #toggle {
        // display: none;
        accent-color: #33562B;
    }

    /* Style the slider */
    #toggle #slider {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
        border-radius: 12px;
        background-color: #ccc;
    }

    /* Style the slider's thumb */
    #toggle #slider::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        transition: transform 0.2s;
    }

    /* Style the slider when the checkbox is checked */
    #toggle:checked+#slider {
        background-color: #2196F3;
    }

    /* Move the slider's thumb when the checkbox is checked */
    #toggle:checked+#slider::before {
        transform: translateX(26px);
    }

}

.addHorse {

    label {
        color: #5A5A5F;
        margin-bottom: 0.3125rem;
        display: block;
        width: 100%;
        margin-top: 1.25rem;
        padding-left: 0rem;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #5A5A5F;

        @media screen and (min-width: 1024px) {
            font-size: 20px;
            line-height: 150%;
        }
    }

    font-size: 1rem;
    padding: 0rem 0rem 4rem 0rem;
    background: transparent;

    @media only screen and (min-width: 1024px) {
        padding: 3rem 4rem 4rem 12.75rem;
    }

    input::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        @media screen and (min-width: 1024px) {
            font-size: 20px;
        }
    }

    textarea::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        @media screen and (min-width: 1024px) {
            font-size: 20px;
        }
    }

    .addHorse_cont_aboutOwner_location {
        width: 100%;

        #ownerLocation {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #5A5A5F;

            @media only screen and (min-width: 1024px) {
                padding-left: 1rem;
                font-size: 20px;
            }
        }
    }

    .addHorse_cont_aboutOwner_location_error {
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
    }

    .requiredFields_error {
        color: #C9431A;
        padding-top: 0.3rem;
    }
}

.addHorse_cont {
    background-color: white;
}


.addHorse_cont_inner {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.625rem;

    @media only screen and (min-width: 1024px) {

        // margin: 1.875rem 12.5rem 50rem 250rem;
        padding-left: 12.5rem;
        padding-right: 12.5rem;
        padding-top: 3.125rem;
        padding-bottom: 0.625rem;
    }
}

.addHorse_cont_backButton {
    display: flex;
    position: relative;
    cursor: pointer;
    padding: 15px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 150%;
    color: #5A5A5F;
}

.addHorse_cont_header {
    padding: 15px;
}

//add horse title
.addHorse>h2 {
    // font-size: 1.5em;
    // font-weight: 600;
    // margin: 0;
    // margin-left: -10rem;
    // padding-left: 300rem;
    // padding-right: 12.5rem;
    // padding-top: 100rem;

    margin: 1.75rem;
    font-family: 'Asap', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #5A5A5F;
    letter-spacing: 0.02em;

    @media only screen and (min-width: 1024px) {
        margin: 0 0 1.125rem 0;
        font-weight: 600;
        font-size: 1.75rem;
        letter-spacing: 0.04em;
    }

}

// * error signal
[class$='_error'] {
    color: #C9431A;
}

#gender {
    height: 3rem;
    width: 45vw;
    border-radius: 0.9375rem;
    border: 0.125rem solid #B6B6BB;
    box-sizing: border-box;

    @media only screen and (min-width: 1024px) {
        width: 25vw;
        margin-right: 0.2rem;
    }

    option {
        font-size: 1rem;
    }
}

#gender::after {
    content: "\25BE";
    /* Unicode downward arrow icon */
    display: inline-block;
    margin-right: 50px;
}

.addHorse_cont_basics_details_gender>#gender {
    padding-left: 1.2rem;
    color: #5A5A5F;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    @media screen and (min-width: 1024px) {
        font-size: 20px;
    }
}



#age {
    height: 3rem;
    width: 45vw;
    border-radius: 0.9375rem;
    border: 0.125rem solid #B6B6BB;
    box-sizing: border-box;

    @media only screen and (min-width: 1024px) {
        width: 25vw;
        margin-right: 0.2rem;
    }
}

#height {
    height: 3rem;
    width: 45vw;
    border-radius: 0.9375rem;
    border: 0.125rem solid #B6B6BB;
    box-sizing: border-box;

    @media only screen and (min-width: 1024px) {
        width: 25vw;
        margin-right: 0.2rem;
    }
}

#price {
    height: 3rem;
    width: 45vw;
    border-radius: 0.9375rem;
    border: 0.125rem solid #B6B6BB;
    box-sizing: border-box;

    @media only screen and (min-width: 1024px) {
        width: 25vw;
    }
}

#breedingMethod {
    height: 3rem;
    width: 45vw;
    border-radius: 0.9375rem;
    border: 0.125rem solid #B6B6BB;
    box-sizing: border-box;

    @media only screen and (min-width: 1024px) {
        width: 25vw;
    }
}

.addHorse_cont_basics_details_breedingMethod>#breedingMethod {
    padding-left: 1rem;
    color: #5A5A5F;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    @media screen and (min-width: 1024px) {
        font-size: 20px;
    }

    option {
        font-size: 1rem;
    }
}

// Color
.addHorse_cont_basics_details_color_cont {
    width: 45vw;
    margin: 0rem;
    box-sizing: border-box;

    img {
        margin-right: -0.6rem;
        width: 0.6rem;
    }

    .filter_cont_color_label {
        padding-left: 0rem;
    }

    .filter_cont_color {

        margin: 0rem;
        box-sizing: border-box;
        border: 0.125rem solid #B6B6BB;
        padding: 0.5625rem;
    }

    .filter_cont_color_selector_selection {
        padding-left: 0.5rem;
        color: #5A5A5F;
        font-weight: 400;
        font-size: 16px;

        @media screen and (min-width: 1024px) {
            font-size: 20px;
        }
    }

    @media only screen and (min-width: 1024px) {
        width: 25vw;

    }
}

// Breed
.addHorse_cont_basics_details_breed_cont {
    width: 45vw;
    margin: 0rem;
    box-sizing: border-box;

    img {
        margin-right: -0.6rem;
        width: 0.6rem;
    }

    .filter_cont_breed {
        border: 0.125rem solid #B6B6BB;
        padding: 0.5625rem;
    }

    .filter_cont_breed_selector_selection {
        padding-left: 0.5rem;
        color: #5A5A5F;
        font-weight: 400;
        font-size: 16px;

        @media screen and (min-width: 1024px) {
            font-size: 20px;
        }
    }

    @media only screen and (min-width: 1024px) {
        width: 25vw;
    }

}


.addHorse_cont_basics {
    margin-top: 1rem;
}

.addHorse_cont_basics_details_firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addHorse_cont_basics_details_secondRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addHorse_cont_basics_details_thirdRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#horseName {
    background: #FFFFFF;
    border: 0.125rem solid #B6B6BB;
    border-radius: 0.9375rem;

    width: 100%;
    padding: 0.9375rem;
    box-sizing: border-box;

}

.addHorse_cont_basics_details_name {
    margin-top: 4rem;
}


// .nothing {
//     width: 30%;
// }

// Thumbnail
.addHorse_cont_basics_upload_thumbnail_content {
    border: 0.125rem solid #B6B6BB;
    border-radius: 0.9375rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;

    img {
        cursor: pointer;
    }

    p {
        padding: 1.25rem;
        margin-bottom: 0.125rem;
        color: #5A5A5F;
        height: 9.625rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        @media screen and (min-width: 1024px) {
            font-size: 20px;
        }
    }

    .addHorse_cont_basics_upload_thumbnail_addImg_icon {
        cursor: pointer;
    }
}

.addHorse_cont_basics_upload_thumbnail_image {
    position: absolute;
    padding: 3rem;
    width: 8rem;
    height: 8rem;
}

.addHorse_cont_basics_upload_thumbnail_input {
    display: none;
    visibility: none;
}

// Media
.addHorse_cont_basics_upload_media_content {
    border: 0.125rem solid #B6B6BB;
    border-radius: 0.9375rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    img {
        cursor: pointer;
    }

    p {
        padding: 1.25rem;
        margin-bottom: 0.125rem;
        color: #5A5A5F;
        height: 9.625rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        @media screen and (min-width: 1024px) {
            font-size: 20px;
        }
    }
}

// Documentation
.addHorse_cont_detailed_documentation_content {
    border: 0.125rem solid #B6B6BB;
    border-radius: 0.9375rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;

    img {
        cursor: pointer;
    }

    p {
        padding: 1.25rem;
        margin-bottom: 0.125rem;
        color: #5A5A5F;
        height: 9.625rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        @media screen and (min-width: 1024px) {
            font-size: 20px;
        }
    }
}

// Description
#description {
    overflow-x: hidden;
    border: 0.125rem solid #B6B6BB;
    border-radius: 0.9375rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 99%;
    height: 9.625rem;

    p {
        padding: 1.25rem;
        margin-bottom: 0.125rem;
        height: 9.625rem;

    }
}

.addHorse_cont_detailed_documentation {
    background: #FFFFFF;
    // border: 0.0625rem solid #B6B6BB;
    border-radius: 0.9375rem;
    width: 100%;
    margin: 0rem;
}

// Contact preferences
#ownerEmail {
    cursor: pointer;
}

#ownerCall {
    cursor: pointer;
}

#ownerText {
    cursor: pointer;
}

.addHorse_cont_aboutOwner_contactPreferences_label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.addHorse_cont_aboutOwner_contactPreferences {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.9375rem;
    flex-wrap: wrap;
    justify-content: flex-start;

    label {
        margin: 0rem;
    }

    .addHorse_cont_aboutOwner_contactPreferences_label {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.25rem;
        color: #5A5A5F;
        accent-color: #33562B;
        width: 50vh;
    }
}

// Location

#ownerLocation {
    background: #FFFFFF;
    border: 0.125rem solid #B6B6BB;
    border-radius: 0.9375rem;
    width: 94%;
    height: 3rem;

    @media only screen and (min-width: 1024px) {
        width: 96%;
        padding-left: 0.3125rem;
    }
}

// Display horse
.addHorse_cont_aboutOwner_displayHorse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

// End Buttons
.endButtons {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1.25rem;

    img {
        cursor: pointer;
    }
}

// .footer_cont {
//     margin-left: 90rem;
// }

input::placeholder,
textarea::placeholder {
    color: #5A5A5F;
    margin-bottom: 0.3125rem;
    display: block;
    width: 100%;
    padding-top: 0.9375rem;
    padding-left: 1.25rem;
    font-family: "Roboto";
    font-size: 1.2em;
}





//toggle button
$toggle-background-color-on: dodgerblue;
$toggle-background-color-off: darkgray;
$toggle-control-color: white;
$toggle-width: 100rem;
$toggle-height: 50rem;
$toggle-gutter: 0.3125rem;
$toggle-radius: 50%;
$toggle-control-speed: .15s;
$toggle-control-ease: ease-in;

// These are our computed variables
// change at your own risk.
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);

.toggle-control {
    display: flex;
    position: relative;
    padding-left: $toggle-width;
    margin-bottom: 10.125rem;
    cursor: pointer;
    font-size: 0.125rem;
    user-select: none;

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    input:checked~.control {
        background-color: $toggle-background-color-on;

        &:after {
            left: $toggle-width - $toggle-control-size - $toggle-gutter;
        }
    }

    .control {
        position: absolute;
        top: 0;
        left: 0;
        height: $toggle-height;
        width: $toggle-width;
        border-radius: $toggle-radius;
        background-color: $toggle-background-color-off;
        transition: background-color $toggle-control-speed $toggle-control-ease;

        &:after {
            content: "";
            position: absolute;
            left: $toggle-gutter;
            top: $toggle-gutter;
            width: $toggle-control-size;
            height: $toggle-control-size;
            border-radius: $toggle-radius;
            background: $toggle-control-color;
            transition: left $toggle-control-speed $toggle-control-ease;
        }
    }
}

.addHorse_cont_detailed_discipline_content {
    width: 100%;

    img {
        margin-right: -0.6rem;
        width: 0.6rem;
    }

    .filter_cont_discipline {
        border: 0.125rem solid #B6B6BB;
        padding: 0.5625rem;
        font-family: "Roboto";
        font-size: 1.2em;
        padding-left: 1rem;
        color: #5A5A5F;
    }
}

.addHorse_cont_aboutOwner p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #5A5A5F;
}

.btn_cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.popUp_btn_horseSaved,
.popUp_btn_cancel {
    margin: 0.9375rem;
    background-color: white;
    color: black;
    border-radius: 0.9375rem;
    padding: 0.3125rem 0.9375rem;
    width: fit-content;
    border: 0.0625rem solid black;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.popUp_btn_leave {
    margin: 0.9375rem;
    background: #C9431A;
    color: #F9D7CD;
    border-radius: 0.9375rem;
    padding: 0.3125rem 0.9375rem;
    width: fit-content;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.addHorse_cont_aboutOwner_displayHorse {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 1rem;
    color: #5A5A5F;

    @media screen and (min-width: 1024px) {

        font-size: 20px;

    }
}