.dataAnalytics {
    background: $accentSand;
    margin: 0;
}

.dataAnalytics_cont_master {
    padding: 3rem 4rem 4rem 12.75rem;
    background: transparent;
    margin: 0;

    p {
        margin: 0;
    }

    h2 {
        color: $gray;
        font-family: 'Asap', sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 150%;
        letter-spacing: 0.04em;
        padding-bottom: $largePadding;
    }

    h1 {
        font-weight: 800;
        font-size: 40px;
        line-height: 60px;
        padding: $largePadding 0;
        margin: $largeMargin 0;
    }
}

.dataAnalytics_cont_content {
    padding: 2rem 5rem;

    hr {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: $secondary;
        padding: $largePadding 0;
        margin: $largeMargin 0;
    }
}

.dataAnalytics_cont_master_inner {
    background-color: $white;
    padding-top: 30px;
}

.barChart {
    padding: 5rem 0;
}

.dataAnalytics_cont_mainContent_gender_chart {
    text-align: -webkit-center;

    .pieChart {
        padding-top: 5rem;
    }
}