.dataAnalytics {
    background: $accentSand;
    margin: 0;
}

.dataAnalytics_cont_master {
    padding: 0rem 0rem 4rem 0rem;
    background: transparent;
    margin: 0;

    @media only screen and (min-width: 1024px) {
        padding: 3rem 4rem 4rem 12.75rem;
    }

    .dataAnalytics_cont_mainContent {
        p {
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }
    }

    h2 {
        color: $gray;
        font-family: 'Asap', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0.02em;
        margin: 1.75rem;

        @media screen and (min-width: $media-desktop) {
            font-weight: 600;
            font-size: 28px;
            line-height: 150%;
            letter-spacing: 0.04em;
            margin: 0 0 1.125rem 0;
        }
    }

    h1 {
        font-weight: 800;
        font-size: 36px;
        line-height: 60px;
        padding: $largePadding 0;
        margin: $largeMargin 0;

        @media screen and (min-width: $media-desktop) {
            font-weight: 800;
            font-size: 40px;
            line-height: 60px;
        }
    }
}

.dataAnalytics_cont_content {
    padding: 2rem 5rem;

    hr {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        color: $secondary;
        padding: $largePadding 0;
        margin: $largeMargin 0;

        @media screen and (min-width: $media-desktop) {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
        }
    }
}

.dataAnalytics_cont_master_inner {
    background-color: $white;
    padding-top: 30px;
}

.dataAnalytics_cont_mainContent_breed_chart {
    overflow-x: scroll;

    .recharts-text.recharts-cartesian-axis-tick-value {
        // transform: rotate(3deg);
    }
}

.barChart {
    padding: 5rem 0;
}

.dataAnalytics_cont_mainContent_gender_chart {
    text-align: -webkit-center;

    @media screen and (min-width: $media-desktop) {
        text-align: left;
        padding: 0 5rem;
    }

    .pieChart {
        padding-top: 5rem;
    }
}

.dataAnalytics_cont_mainContent_gender {
    width: 100%;

    @media screen and (min-width: $media-desktop) {
        width: 50%;
    }
}

.dataAnalytics_cont_mainContent_secondRow {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $media-desktop) {
        flex-direction: row;
    }

    hr {
        display: none;

        @media screen and (min-width: $media-desktop) {
            display: block;
            margin: 1rem;
        }
    }

    .dataAnalytics_cont_mainContent_photo {

        @media screen and (min-width: $media-desktop) {
            align-self: center;
        }

        img {
            display: none;

            @media screen and (min-width: $media-desktop) {
                display: block;
                width: 34rem;
            }
        }
    }

}