.forgotPassword_master {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $media-desktop) {
        display: block;
    }
}


.forgotPassword {
    height: 100%;
    display: flex;
    flex-direction: row;

    @media only screen and (min-width: $media-desktop) {
        background-color: $white;
    }

    // display: flex;
}

.forgotPassword_cont_content {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // width: 30%;
    justify-content: center;
    text-align: center;
    float: right;
    margin: 8rem 0;
    // transform: translateY(-275%);

    @media only screen and (min-width: $media-desktop) {
        margin-left: 52vw;
        margin-top: 33vh;
        position: absolute;
    }

    h1 {
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 150%;
        color: $secondary;
        margin-bottom: 2rem;
        letter-spacing: 0.04em;

        @media only screen and (min-width: $media-desktop) {
            font-size: 40px;
            font-weight: 700;
            letter-spacing: 0.02em;
            align-self: flex-start;
        }
    }

    .forgotPassword_cont_content_label {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $gray;
        align-self: flex-start;
        margin-bottom: $smallMargin;

        @media only screen and (min-width: $media-desktop) {
            font-size: 20px;
        }
    }

    input {
        border-radius: $radius;
        padding: $largePadding;
        width: 100%;
        border: 2px solid $fourSec;
        align-self: flex-start;
        margin-bottom: 2rem;
    }

    input::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $gray;

        @media only screen and (min-width: $media-desktop) {
            font-size: 20px;
        }
    }

    p {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: $secondary;
        margin-bottom: 2rem;
    }
}

.forgotPassword_cont_btn_reset {
    background-color: $primary;
    color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: $radius;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.08em;
    padding: $smallPadding $largePadding;
    margin-bottom: $largeMargin;
    border: none;
    cursor: pointer;

    @media only screen and (min-width: $media-desktop) {
        font-size: 20px;
        line-height: 36px;
    }
}

.forgotPassword_cont_btn {
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $gray;

        @media only screen and (min-width: $media-desktop) {
            font-size: 20px;
            color: $secondary;
        }
    }

    a:visited {
        color: $secondary;
    }
}

.resetPassword_master {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $media-desktop) {
        display: block;
    }
}

.resetPassword {
    height: 100%;
    display: flex;
    flex-direction: row;

    @media only screen and (min-width: $media-desktop) {
        background-color: $white;
    }
}

.resetPassword_cont_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: right;
    margin: 8rem 0;

    @media only screen and (min-width: $media-desktop) {
        margin-left: 58vw;
        margin-top: 30vh;
        position: absolute;
    }

    h1 {
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 150%;
        color: $secondary;
        margin-bottom: 2rem;
        letter-spacing: 0.04em;

        @media only screen and (min-width: $media-desktop) {
            font-size: 40px;
            font-weight: 700;
            letter-spacing: 0.02em;
            align-self: flex-start;
        }
    }

    .resetPassword_cont_content_label {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $gray;
        align-self: flex-start;
        margin-bottom: $smallMargin;

        @media only screen and (min-width: $media-desktop) {
            font-size: 20px;
        }
    }

    input {
        border-radius: $radius;
        padding: $largePadding;
        width: 100%;
        border: 2px solid $fourSec;
        align-self: flex-start;
        margin-bottom: 0.5rem;
    }

    input::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $gray;

        @media only screen and (min-width: $media-desktop) {
            font-size: 20px;
        }
    }

    .resetPassword_cont_btn .resetPassword_cont_btn_reset {
        background-color: $primary;
        color: $white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: $radius;
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.08em;
        padding: $smallPadding $largePadding;
        margin-top: 1rem;
        border: none;
        cursor: pointer;

        @media only screen and (min-width: $media-desktop) {
            font-size: 20px;
            line-height: 36px;
        }
    }
}

.profile_cont_mainContent_editing_password_toggle {
    position: relative;

    img {
        position: absolute;
        bottom: 1.35rem;
        left: 13rem;

        @media only screen and (min-width: $media-desktop) {
            left: 18rem;
        }
    }
}