.forgotPassword_master {
    background-color: $white;
    // display: flex;
}

.forgotPassword_cont_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 10rem 50rem;
    transform: translateY(-275%);

    h1 {
        font-family: 'Asap';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        color: $secondary;
        align-self: flex-start;
        margin-bottom: 2rem;
    }

    .forgotPassword_cont_content_label {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: $gray;
        align-self: flex-start;
        margin-bottom: $smallMargin;
    }

    input {
        border-radius: $radius;
        padding: $largePadding;
        width: 100%;
        border: 2px solid $fourSec;
        align-self: flex-start;
        margin-bottom: 2rem;
    }

    input::placeholder {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
    }

    p {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: $secondary;
        margin-bottom: 2rem;
    }
}

.forgotPassword_cont_btn_reset {
    background-color: $primary;
    color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: $radius;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    padding: $smallPadding $largePadding;
    margin-bottom: $largeMargin;
    border: none;
    cursor: pointer;
}

.forgotPassword_cont_btn {
    a {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: $secondary;
    }

    a:visited {
        color: $secondary;
    }
}