// * {
//     background: $white;
// }

.mainPage {
    background: $accentSand;
    margin: 0;
}

.mainPage .pagination {
    display: flex;
    flex-direction: row;
    width: 5rem;
    justify-content: space-around;
}

.mainPage_cont_master {
    padding: 0;
    background: transparent;
    margin: 0;

    @media screen and (min-width: $media-desktop) {
        padding: 3rem 4rem 4rem 12.75rem;
    }

    p {
        margin: 0;
    }

    h2 {
        color: $gray;
        font-family: 'Asap', sans-serif;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 150%;
        letter-spacing: 0.04em;

        @media screen and (min-width: $media-desktop) {
            font-size: 28px;
        }
    }
}

.mainPage_cont_master_title {
    padding-bottom: $largePadding;
}

.mainPage_cont_master_inner {
    background-color: $white;
    padding-top: 30px;
}

.mainPage_cont_allHorses {
    padding: 1.25rem 1.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $media-desktop) {
        padding: $largePadding 4rem;
    }

    h1 {
        margin: 0;
        // padding: 0;
    }
}

.mainPage_cont_allHorses_dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $smallPadding;
}

.mainPage_cont_horsesCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $largePadding 40px;
}

.mainPage_cont_horsesCards_innerCont {
    display: grid;
    grid-template-columns: 100%;

    @media screen and (min-width: $media-desktop) {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}

// TO BE DELETED
.testing {
    margin: $largeMargin;
    background: $semanticAlert;
    color: $accentLightPink;
    border-radius: $radius;
    padding: $largePadding;
    width: 100px;
    border: none;
    cursor: pointer;
}

.pagination li {
    padding: 0.75rem;
    cursor: pointer;
}

.page-item.active>a {
    background-color: $primary;
    color: $white;
    clip-path: circle();
    padding: 0.75rem;
}