.profile_cont_master {
    padding: 4rem 4rem 10rem 15rem;
    background: transparent;
    margin: 0;

    p {
        margin: 0;
    }

    h1 {
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 150%;
        color: $gray;
        padding-bottom: $largePadding;
    }
}

.profile_cont_master_inner {
    background-color: $white;
}

.profile_cont_header_content_edit {
    margin: $largeMargin;
    background: $white;
    color: $primary;
    border-radius: $radius;
    padding: $largePadding;
    width: 100px;
    border: none;
    cursor: pointer;
    border: 1px $primary solid;
}

.profile_cont_mainContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile_cont_header {
    // position: relative;
    // width: 50%;
    // max-width: 300px;
    // display: flex;

    .profile_cont_header_background {
        // display: block;
        width: 100%;
        // height: auto;
        background-size: contain;
        background-position: top left;
    }

    // .overlay {
    //     position: absolute;
    //     bottom: 0;
    //     background: rgb(0, 0, 0);
    //     background: rgba(0, 0, 0, 0.5);
    //     /* Black see-through */
    //     color: #f1f1f1;
    //     width: 100%;
    //     transition: .5s ease;
    //     opacity: 0;
    //     color: white;
    //     font-size: 20px;
    //     padding: 20px;
    //     text-align: center;
    // }

    .profile_cont_header_content_pic {
        clip-path: circle(50% at 50% 50%);
        // width: 18vw;
    }
}

.profile_cont_mainContent_cta_signOut {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    border-radius: $radius;
    padding: $smallPadding;
    width: 10rem;
    right: 0;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

// EDIT PROFILE

.profile_cont_backToProfile {
    display: flex;
    align-items: center;
    padding: $largeMargin;

    p {
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #5A5A5F;
        padding-left: $largePadding;
    }
}