.profile_cont_master {
    padding: 4rem 4rem 10rem 15rem;
    background: transparent;
    margin: 0;

    p {
        margin: 0;
    }

    h1 {
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 150%;
        color: $gray;
        padding-bottom: $largePadding;
    }
}

.profile_cont_mainContent {
    padding: 1.875rem;

    @media only screen and (min-width: $media-desktop) {
        padding: 5rem;
    }

    h4 {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: $secondary;
    }

    p,
    a {
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:visited {
        color: black;
    }

}

.profile_cont_master_inner {
    background-color: $white;
}

.profile_cont_header_content {
    position: absolute;
    left: 1.875rem;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;

    @media only screen and (min-width: $media-desktop) {
        left: 5rem;
    }
}

.profile_cont_header_content_edit {
    margin: $largeMargin;
    background: $white;
    color: $primary;
    border-radius: $radius;
    padding: $largePadding;
    width: 100px;
    border: none;
    cursor: pointer;
    border: 1px $primary solid;
}

.profile_cont_mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile_cont_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    .profile_cont_header_background {
        // display: block;
        width: 100%;
        // height: auto;
        background-repeat:no-repeat;
        background-position: center;
        background-size: cover;
        height: 11rem;
        opacity: 0.3;

        @media only screen and (min-width: $media-desktop) {
            height: 29.75rem;
        }
    }

    // .overlay {
    //     position: absolute;
    //     bottom: 0;
    //     background: rgb(0, 0, 0);
    //     background: rgba(0, 0, 0, 0.5);
    //     /* Black see-through */
    //     color: #f1f1f1;
    //     width: 100%;
    //     transition: .5s ease;
    //     opacity: 0;
    //     color: white;
    //     font-size: 20px;
    //     padding: 20px;
    //     text-align: center;
    // }

    .profile_cont_header_content_pic {
        clip-path: circle(50% at 50% 50%);
        height: 9rem;
        width: 9rem;

        @media only screen and (min-width: $media-desktop) {
            height: 14rem;
            width: 14rem;
        }
    }
}

.profile_cont_mainContent_name_phoneNumber_cont,
.profile_cont_mainContent_email_website_cont {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $media-desktop) {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.875rem;
        width: 70%;
    }
}

.profile_cont_mainContent_bio,
.profile_cont_mainContent_name,
.profile_cont_mainContent_phoneNumber,
.profile_cont_mainContent_email,
.profile_cont_mainContent_website {
    padding: .5rem 0;
    border-bottom: 1px solid #ECECEC;

    @media only screen and (min-width: $media-desktop) {
        padding: 0;
        border-bottom: unset;
    }
}

.profile_cont_mainContent_cta_signOut {
    margin-top: 5rem;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    border-radius: $radius;
    padding: $smallPadding;
    width: 10rem;
    right: 0;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

// EDIT PROFILE

.profile_cont_backToProfile {
    display: flex;
    align-items: center;
    padding: $largeMargin;
    cursor: pointer;

    p {
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #5A5A5F;
        padding-left: $largePadding;
    }
}

.profile_cont_header_background_editing {
    position: absolute;
    right: 2.375rem;
    bottom: 1.5rem;
}

.profile_cont_header_content_pic_editing {
    position: absolute;
    bottom: 0;
    right: 1rem;
    background-color: white;
    border-radius: 50%;
}

.profile_cont_header_background_editing,
.profile_cont_header_content_pic_editing {
    width: 40px;
    cursor: pointer;
}

.profile_cont_header_background_editing_selection {
    display: none;
    visibility: none;
}

.profile_cont_mainContent_editing {
    padding: 1.875rem;

    @media only screen and (min-width: $media-desktop) {
        padding: 5rem;
    }

    h4 {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: $secondary;
    }

    p {
        color: $fourSec;
    }
}

.profile_cont_mainContent_editing_bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    position: relative;

    @media only screen and (min-width: $media-desktop) {
        flex-direction: row;
    }

    textarea {
        border-radius: $radius;
        padding: $largePadding;

        @media only screen and (min-width: $media-desktop) {
            width: 70%;
        }
    }

    textarea::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
    }
}

#profile_cont_mainContent_editing_bio_title_ {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    bottom: 1.5rem;

    @media only screen and (min-width: $media-desktop) {
        bottom: 2rem;
        right: 1rem;
    }
}

.profile_cont_mainContent_editing_name,
.profile_cont_mainContent_editing_phoneNumber,
.profile_cont_mainContent_editing_email,
.profile_cont_mainContent_editing_location,
.profile_cont_mainContent_editing_website,
.profile_cont_mainContent_editing_password,
.profile_cont_mainContent_editing_cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;

    @media only screen and (min-width: $media-desktop) {
        flex-direction: row;
    }

    input {
        border-radius: $radius;
        padding: $largePadding;
        border: 1px solid $fourSec;

        @media only screen and (min-width: $media-desktop) {
            width: 25%;
        }
    }
}

.profile_cont_mainContent_editing_cta {
    flex-direction: row;
    align-items: center;

    p {
        font-weight: 800;
        font-size: 13px;
        line-height: 15px;
        color: $fourSec;
        cursor: pointer;
    }

    .profile_cont_mainContent_editing_cta_saveBtn {
        border: none;
        border-radius: $radius;
        color: $white;
        background-color: $primary;
        padding: $smallPadding $largePadding;
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        width: 200px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
}

.popUp_cont_description_text {
    color: $gray !important;
}

.popUp_btn_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: $largeMargin;

    .popUp_btn_cancelBtn {
        border: 1px solid black;
        background-color: $white;
        color: black;
        border-radius: $radius;
        padding: $largePadding;
        font-family: 'Asap';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.02em;
        cursor: pointer;
    }

    .popUp_btn_deleteBtn {
        border: none;
        background-color: $semanticAlert;
        color: $accentLightPink;
        border-radius: $radius;
        padding: $largePadding;
        font-family: 'Asap';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.02em;
        cursor: pointer;
    }
}

.popUp_btn_doneBtn {
    border: 1px solid black;
    background-color: $white;
    color: black;
    border-radius: $radius;
    padding: $largePadding;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    cursor: pointer;
}