.signUp {
    display: flex;
    flex-direction: row;
    gap: 7rem;

    @media only screen and (min-width: $media-desktop) {
        background-color: $white;
    }


    h1 {
        font-family: 'Asap';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 150%;
        /* identical to box height, or 42px */
        letter-spacing: 0.04em;
        justify-content: center;
        margin-bottom: 2rem;
        color: $secondary;
        display: flex;

        @media only screen and (min-width: $media-desktop) {
            font-weight: 700;
            font-size: 40px;
            line-height: 56px;
            /* identical to box height, or 140% */
            letter-spacing: 0.08em;
            justify-content: flex-start;
        }
    }

    label {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $gray;

        @media only screen and (min-width: $media-desktop) {
            font-size: 20px;
        }
    }

    input::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        @media only screen and (min-width: $media-desktop) {
            font-size: 20px;
        }
    }
}

.horizontalCont {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 2rem;
    align-items: center;
}

.horizontalCont_Para {
    margin-top: 2px;
    color: $gray;

    @media screen and (min-width: $media-desktop) {
        color: $secondary;
    }
}

.horizontalCont_leftHorizon,
.horizontalCont_rightHorizon {
    width: 30%;
    height: 3px;
    background-color: $secondary;
    border: none;
    border-radius: 5px;
}

.signUpCont_icons_first,
.signUpCont_icons_second,
.signUp2Cont_icons_first,
.signUp2Cont_icons_second {
    position: relative;
}

.signUpCont_icons_second,
.signUp2Cont_icons_second {
    margin-top: -45px;
    left: 8%;
}

.signUpCont_icons_first_value1,
.signUp2Cont_icons_first_value1 {
    color: #5A5A5F;
    position: absolute;
    top: 45%;
    left: 8%;
    transform: translate(-50%, -50%);
    font-family: 'Asap', sans-serif !important;
    font-weight: 600;
    line-height: 150%;
    font-size: 20px;
    letter-spacing: 0.04em;

    @media screen and (min-width: $media-desktop) {
        font-size: 24px;
        left: 6%;
    }
}

.drawCircle1 {
    height: 40px;
    width: 40px;
    border: 8px solid #426F38;
    border-radius: 50%;
    background-color: #F8F6F2;
    display: inline-block;
}

.drawCircle2 {
    position: absolute;
    top: -13px;
    left: 62%;
    height: 40px;
    width: 40px;
    border: 8px solid #E8F2E6;
    border-radius: 50%;
    background-color: #F8F6F2;
    display: inline-block;
}

.signUp2Cont_icons_second_drawCircle2 {
    border: 8px solid #426F38;
    position: absolute;
    top: -13px;
    left: 62%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #F8F6F2;
    display: inline-block;
}

.signUpCont_icons_second_value2,
.signUp2Cont_icons_second_value2 {
    color: #5A5A5F;
    position: absolute;
    top: 12px;
    left: 70%;
    transform: translate(-50%, -50%);
    font-family: 'Asap', sans-serif !important;
    // font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;

    @media screen and (min-width: $media-desktop) {
        font-size: 24px;
        left: 68%;
    }
}

.signUpCont_icons_rectangle {
    width: 12rem;
    position: absolute;
    height: 5px;
    top: 31%;
    left: 15%;
    background-image: linear-gradient(to right, #4A6F38, #E8F2E6);
    border-radius: 10px;
    border: none;
    z-index: 1;

    @media screen and (min-width: $media-desktop) {
        width: 19rem;
        left: 10%;
    }
}

.signUp2Cont_icons_rectangle {
    width: 12rem;
    position: absolute;
    height: 5px;
    top: 31%;
    left: 15%;
    background-color: #4A6F38;
    border-radius: 10px;
    z-index: 1;
    border: none;

    @media screen and (min-width: $media-desktop) {
        width: 19rem;
        left: 10%;
    }
}

.signUpCont_steps,
.signUp2Cont_steps {
    display: flex;
    flex-direction: row;
    gap: 15rem;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    @media screen and (min-width: $media-desktop) {
        gap: 17.75rem;
    }

    p {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: $gray;

        @media screen and (min-width: $media-desktop) {
            font-size: 20px;
        }
    }
}

.signUp2Cont_form_image {
    align-self: center;
    text-align: center;
}

.signUpForm {
    margin: 6rem;

    @media screen and (min-width: $media-desktop) {
        margin-left: 49vw;
        margin-top: 20vh;
        position: absolute;
    }

    .buttonArray {
        flex-direction: column-reverse;

        @media screen and (min-width: $media-desktop) {
            flex-direction: row;
            gap: 1rem;
        }
    }

    .secondaryBtn,
    .primaryBtn {
        width: 70%;

        @media screen and (min-width: $media-desktop) {
            margin-top: 0;
            width: 50%;
        }
    }
}

.signUpCont_form_name {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $media-desktop) {
        flex-direction: row;
        gap: 0.75rem;
    }

    input {}

}

.signUpCont_form_name_first_input,
.signUpCont_form_name_last_input {
    width: 100%;

    @media screen and (min-width: $media-desktop) {
        width: 15rem !important;
    }
}

.signUpCont_form_name_first .signUpCont_form_name_last {
    display: flex;
    flex-direction: column;
}

.signUp2Cont_form_camera {
    position: absolute;
    top: 31%;
    left: 23%;
}

.camera_Cont {
    display: none;
    z-index: 999;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    video {
        width: 70%;

        @media screen and (min-width: $media-desktop) {
            width: 50%;
        }
    }
}


.signUpCont_form_name_firstNameLabel,
.signUpCont_form_name_lastNameLabel,
.signUpCont_form_emailLabel,
.signUpCont_form_passwordLabel,
.signUpCont_form_cPasswordLabel,
.signUp2Cont_form_phoneNumberLabel,
.signUp2Cont_form_addressLabel,
.signUp2Cont_form_websiteLabel {
    padding: $smallPadding 0;
    padding-top: $largePadding;
}

.signUpCont_form_name_firstNameLabel,
.signUpCont_form_name_lastNameLabel {
    label {
        padding: $smallPadding 0;
        padding-top: $largePadding;
    }
}

.icons {
    position: relative;
    left: 10%;
}

.camera_Cont_btn {
    width: 240px;
    height: 56px;
    margin-top: 5px;
    border-radius: $radius;
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
    border: 1px solid black;
}

#profilePhoto {
    width: 50%;
    border-radius: $radius;

    @media screen and (min-width: $media-desktop) {
        width: 100%;
    }
}

#canvas {
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.warning {
    color: $semanticAlert;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    @media screen and (min-width: $media-desktop) {
        font-size: 20px;
    }

}

.popUp_btn_goToMain {
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 15px;
    background-color: #33562B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    border: 0;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;

    @media only screen and (min-width: $media-desktop) {
        align-self: auto;
        padding: $largePadding;
        // width: 50%;
    }
}

.profile_cont_mainContent_editing_password_toggle {
    cursor: pointer;
}

.signUpImage {
    display: none;

    @media only screen and (min-width: $media-desktop) {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 33rem;
        align-items: center;
        justify-content: center;
    }
}

.signUp2Cont_form {
    @media only screen and (min-width: $media-desktop) {
        width: 492px;
    }
}

.profile_cont_mainContent_editing_password_toggle_pass {
    position: relative;

    img {
        position: absolute;
        bottom: 1.05rem;
        left: 18.5rem;

        @media only screen and (min-width: $media-desktop) {
            left: 28.5rem;
        }
    }

}