.signUp {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    background-color: $white;
}

.horizontalCont {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.horizontalCont_Para {
    margin-top: 2px;
}

.horizontalCont_leftHorizon,
.horizontalCont_rightHorizon {
    width: 100px;
    height: 3px;
    background-color: $secondary;
    border: none;
    border-radius: 5px;
}

.signUpCont_icons_first,
.signUpCont_icons_second,
.signUp2Cont_icons_first,
.signUp2Cont_icons_second {
    position: relative;
}

.signUpCont_icons_second,
.signUp2Cont_icons_second {
    margin-top: -45px;
    left: 8%;
}

.signUpCont_icons_first_value1,
.signUp2Cont_icons_first_value1 {
    color: #5A5A5F;
    position: absolute;
    top: 10%;
    left: 6%;
    transform: translate(-50%, -50%);
}

.drawCircle1 {
    height: 40px;
    width: 40px;
    border: 8px solid #426F38;
    border-radius: 50%;
    background-color: #F8F6F2;
    display: inline-block;
}

.drawCircle2 {
    position: absolute;
    top: -13px;
    left: 62%;
    height: 40px;
    width: 40px;
    border: 8px solid #E8F2E6;
    border-radius: 50%;
    background-color: #F8F6F2;
    display: inline-block;
}

.signUp2Cont_icons_second_drawCircle2 {
    border: 8px solid #426F38;
    position: absolute;
    top: -13px;
    left: 62%;
    height: 40px;
    width: 40px;

    border-radius: 50%;
    background-color: #F8F6F2;
    display: inline-block;
}

.signUpCont_icons_second_value2,
.signUp2Cont_icons_second_value2 {
    color: #5A5A5F;
    position: absolute;
    top: -5px;
    left: 67%;
    transform: translate(-50%, -50%);
}

.signUpCont_icons_rectangle {
    width: 330px;
    position: absolute;
    height: 5px;
    top: 31%;
    left: 10%;
    background-image: linear-gradient(to right, #4A6F38, #E8F2E6);
    border-radius: 10px;
    border: none;
    z-index: 1;
}

.signUp2Cont_icons_rectangle {
    width: 327px;
    position: absolute;
    height: 5px;
    top: 31%;
    left: 10%;
    background-color: #4A6F38;
    border-radius: 10px;
    z-index: 1;
    border: none;
}

.signUpCont_steps,
.signUp2Cont_steps {
    display: flex;
    flex-direction: row;
    gap: 326px;
}

.signUp2Cont_form_image {
    align-self: center;
}

.signUpForm {
    margin: 6rem;
}

.signUpCont_form_name {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;

}

.signUpCont_form_name_first_input,
.signUpCont_form_name_last_input {
    width: 241px !important;
}

.signUpCont_form_name_first .signUpCont_form_name_last {
    display: flex;
    flex-direction: column;
}

.signUp2Cont_form_camera {
    position: absolute;
    top: 31%;
    left: 23%;
}

.camera_Cont {
    display: none;
    z-index: 999;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    video {
        width: 50%;
    }
}


.signUpCont_form_name_firstNameLabel,
.signUpCont_form_name_lastNameLabel,
.signUpCont_form_emailLabel,
.signUpCont_form_passwordLabel,
.signUpCont_form_cPasswordLabel,
.signUp2Cont_form_phoneNumberLabel,
.signUp2Cont_form_addressLabel,
.signUp2Cont_form_websiteLabel {
    padding: $smallPadding 0;
    padding-top: $largePadding;
}

.signUpCont_form_name_firstNameLabel,
.signUpCont_form_name_lastNameLabel {
    label {
        padding: $smallPadding 0;
        padding-top: $largePadding;
    }
}

.icons {
    position: relative;
    left: 10%;
}

.camera_Cont_btn {
    width: 240px;
    height: 56px;
    margin-top: 5px;
    border-radius: $radius;
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
    border: 1px solid black;
}

#profilePhoto {
    border-radius: $radius;
}

#canvas {
    display: none;
}