.splashScreen_master {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $media-desktop) {
        display: block;
    }
}

.splashScreen {
    /* background-color: $splashBackground; */
    height: 100%;
    display: flex;
    flex-direction: row;

    @media only screen and (min-width: $media-desktop) {
        background-color: $white;
    }
}

.splashScreen_image {
    display: none;

    @media only screen and (min-width: $media-desktop) {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 33rem;
        align-items: center;
        justify-content: center;
    }
}

.splashScreen_logo {
    position: absolute;
    width: 80%;
    align-self: center;
}

.splashScreen_cont_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: right;
    margin: 8rem 1.75rem;

    @media only screen and (min-width: $media-desktop) {
        margin-left: 49vw;
        margin-top: 35vh;
        position: absolute;
    }

    h1 {
        font-family: 'Asap', sans-serif !important;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 56px;
        letter-spacing: 0.08em;
        color: $secondary;

        @media only screen and (min-width: $media-desktop) {
            font-size: 40px;
        }
    }

    h3,
    a {
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        /* identical to box height, or 150% */
        align-items: flex-end;
        letter-spacing: 0.04em;
        color: $gray;

        @media only screen and (min-width: $media-desktop) {
            font-size: 24px;
        }
    }
}

.splashScreen_cont_content_signIn:visited {
    color: $gray;
}

.splashScreen_cont_btn_google,
.splashScreen_cont_btn_email,
.splashScreen_cont_btn_apple {
    cursor: pointer;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    padding: $smallPadding;
    margin-bottom: $largeMargin;
    width: 280px;
    background-color: $white;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;

    @media only screen and (min-width: $media-desktop) {
        font-size: 20px;
    }
}

.splashScreen_cont_btn_google {
    margin-top: 30px;
}