@font-face {
    font-family: "Asap";
    font-weight: 700;
    font-style: normal;
    src: url("../Assets/Fonts/Asap-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Asap";
    font-weight: 600;
    font-style: normal;
    src: url("../Assets/Fonts/Asap-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Asap";
    font-weight: 400;
    font-style: normal;
    src: url("../Assets/Fonts/Asap-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: url("../Assets/Fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: url("../Assets/Fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url("../Assets/Fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src: url("../Assets/Fonts/Roboto-Light.ttf") format("truetype");
}

// @import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');