// Colors
$primary: #33562B;
$secondary: #303030;
$accentRed: #A43C1C;
$accentLightPink: #F9D7CD;
$accentMustard: #CF9732;
$accentBeige: #F8E9CF;
$accentLightBlue: #D1E4F7;
$accentSand: #EFEDE6;
$semanticSuccess: #60A251;
$semanticAlert: #C9431A;
$semanticWarning: #E2A83F;
$semanticInfo: #2477C9;
$gray: #5A5A5F;
$white: #fff;
$splashBackground: #EAE8E1;

// Additional colors
$eightPrim: #426F38;
$sevenPrim: #60A251;
$sixPrim: #75B367;
$fivePrim: #8CBF80;
$fourPrim: #A3CC99;
$threePrim: #BAD9B3;
$twoPrim: #D1E6CC;
$onePrim: #E8F2E6;
$ofivePrim: #F3F9F2;

$eightSec: #3B3B40;
$sevenSec: #5A5A5F;
$sixSec: #6E6E73;
$fiveSec: #96969B;
$fourSec: #B6B6BB;
$threeSec: #D9D9DF;
$twoSec: #E9E9EF;
$oneSec: #F2F2F8;
$ofiveSec: #F9F8FE;

$cards: #F6F7F6;

// Media query
$media-desktop: 1024px;

// Spacements
$smallPadding: 5px;
$largePadding: 15px;
$smallMargin: 5px;
$largeMargin: 15px;

// Radius
$radius: 15px;

// Opacity